{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Are you ready to chack out some awsome albums!</h2>
            <h5>create an amazing collection of your favorite album!</h5>
        
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div> 
            
        </div> 
            <!-- Header Image -->
        <div class="col-md-6">
            <img src="../../static/images/undraw_compose_music_re_wpiw.svg" alt="Hero Header Image" class="header-image">
        </div>
            
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection ╰(*°▽°*)╯</h2>
            <p>You can be the freind with the coolest album collection</p>
            <p>Gotta catch Em all!!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_compose_music_re_wpiw.svg" alt="API image" id="api-image">
            <h4>Dedicated API routes</h4>
            <p>If your a fan of classic album! this is the place for you!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_counting_stars_re_smvv.svg" alt="GraphQL Image" id="graphql-image">
            <h4>Classics</h4>
            <p>We have all the choices you could ever ask for!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_sunlight_re_0usx.svg" alt="DB image" id="database-image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>All data will be persisted inside of a secure Postgres Database</p>
        </div>      
    </section>
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_dev_focus_re_6iwt.svg" alt="Drone Image" id="drone-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like minded Album collectors</h4>
            <p>
                Chat with other music enthusiasts all around 25 of the states in the U.S.A. !
            </p>
            <p>Wow such great choices!!</p>
            <div>
                <button class="btn btn-primary">View on face</button>
                <button class="btn btn-primary">Join our Slack Channel again...</button>
            </div>

        </div>

    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/undraw_compose_music_re_wpiw.svg" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Album inventory</p>
                <p>The album for boring people project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Album inventory</p>
                <p>The album for boring people project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Album inventory</p>
                <p>The album for boring people project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Album inventory</p>
                <p>The album for boring people project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Album inventory</p>
                <p>The album for boring people project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer> 
</div>

{% endblock content %}

